/* Essential CSS
****************************/

body {
    background-image:url(../img/background.jpg);
    background-size: cover;
    color: yellow;
    font-family: 'Cabin', sans-serif;
}
h2 {
    text-align: center;
    font-weight: bold;
}
h3 {
    padding: 30px;
}

/* Info CSS
****************************/

.info {
    border-radius: 20px;
    box-shadow: 2px 2px 20px black;
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    color: red;
    height: 400px;
}

fieldset {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	max-width: 300px;
 	text-align: left;
}

fieldset .ng-pristine, .ng-dirty, .ng-valid, .ng-valid-parse > input {
    color: black;
	 border-radius: 10px;
    height: 50px;
    text-align: left;
    padding-left: 20px;
    font-size: 1.2em;
    width: 300px;
}

input:focus {
	border: none;
}

#answer {
    padding: 50px;
    text-align: center;
    font-size: 2em;
}


/* Button CSS
****************************/
.btn {
    margin: 20px;
    padding: 20px;
    background-color: red;
    color: yellow;
    font-weight: bold;
    border: 5px groove red;
}
.btn:hover {
    background-color: orange;
    color: red;
    border: 5px groove red;
}
.btn:focus {
	color: yellow;
}
.btn:disabled {
    background-color: maroon;
    border: 5px groove maroon;
}

.buttons {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	max-width: 300px;
}



/* QUERY CSS
*****************************/

@media (max-width: 768px) {
    body {
        background: radial-gradient(red 40%, black);
    }
    
    .info {
		margin-bottom: 40px;
		margin-top: 40px;  
    }
    .btn {
		max-width: 100px;    
    }
    
    #answer {
		font-size: 1.5em;    
    }
}
