<!DOCTYPE html>
<html lang="en-US">
	<head>
	  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fortune Cookie</title>
		<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<!-- CSS Styles -->
		<link rel="stylesheet" href="/dist/css/main.min.css">
	</head>
<body>
<div class="container">
	<header><img src="dist/img/banner.gif" class="img-responsive" alt="Read Your Fortune Cookie"></header>
	<div ng-app="myApp" ng-controller="fortuneController" name="form">
		<div class="row" ng-controller="numberController">
			<div class="col-md-6">
				<div class="info">
					<h2>What's your Fortune</h2>
					<fieldset>
						<label for="firstName">First Name:</label><br>
						<input type="text" ng-model="firstName" ng-disabled="mySwitch" class="input"><br>
						<label for="lastName">Last Name:</label><br>
						<input type="text" ng-model="lastName" ng-disabled="mySwitch" class="input"><br>
						<label for="age">Age:</label><br>
						<input type="text" ng-model="age" ng-disabled="mySwitch" class="input"><br>
					</fieldset>
					<div class="buttons">
						<button ng-click="toggle()" ng-disabled="mySwitch" class="btn">Read Me</button>
						<button ng-click="reset()" class="btn">Try Again</button>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="info">
				<h2>Read Your Fortune</h2>
				<p ng-show="myVar" class="answer">{{number() | random}}</p>
				<div>
					<p ng-show="myVar" class="answer">{{lucky()}}</p>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>

    <!-- Modules -->
    <script src="dist/js/app.js"></script>
    <!-- Controllers -->
    <script src="dist/js/controllers/fortuneController.js"></script>
    <script src="dist/js/controllers/numberController.js"></script>


</body>
</html>
