<!DOCTYPE html>
<html lang="en-US">
	<head>
	  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fortune Cookie</title>
		<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<!-- CSS Styles -->
		<link rel="stylesheet" href="/dist/css/main.min.css">
	</head>
<body>
	<header><img src="dist/img/banner.gif" class="img-responsive" alt="Read Your Fortune Cookie"></header>

	<div class="container">

	<div ng-app="myApp" ng-controller="FortuneController" name="form">
		<fortune></fortune>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="info">
					<h2>What's your Fortune</h2>
					<fieldset>
						<label for="firstName">First Name:</label><br>
						<input type="text" ng-model="firstName" ng-model-options="{updateOn: 'blur'}" ng-disabled="mySwitch" class="input"><br>
						<label for="lastName">Last Name:</label><br>
						<input type="text" ng-model="lastName" ng-model-options="{updateOn: 'blur'}" ng-disabled="mySwitch" class="input"><br>
						<label for="age">Age:</label><br>
						<input type="text" ng-model="age" ng-model-options="{updateOn: 'blur'}" ng-disabled="mySwitch" class="input"><br>
					</fieldset>
					<div class="buttons">
						<button ng-click="submit()" ng-disabled="mySwitch" class="btn">Read Me</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
			<!-- bower:js -->
			<script src="bower_components/jquery/dist/jquery.js"></script>
			<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
			<script src="bower_components/angular/angular.js"></script>
			<!-- endbower -->

    <!-- Modules -->
    <script src="dist/js/app.js"></script>
    <!-- Controllers -->
    <script src="dist/js/controllers/FortuneController.js"></script>
		<!-- Directives -->
		<script src="dist/js/directives/fortune.js"></script>

</body>
</html>
