
/* Essential CSS
****************************/
header, footer {
	box-shadow: 2px 2px 20px black;
	background-color: #7b0505;
}

footer {
	position: absolute;
	padding: 10px;
	width: 100%;
}

footer p {
	font-weight: bold; 
}



/* QUERY CSS
*****************************/
@media (min-width: 769px) {

  .info {
    margin: 10px; }

  #answer {
    font-size: 2em; } }

