/* Essential CSS
****************************/

body {
	 background: radial-gradient(red 40%, black);
    color: yellow;
    font-family: 'Cabin', sans-serif;
}
h2 {
    text-align: center;
    font-weight: bold;
}
h3 {
    padding: 30px;
}

/* Info CSS
****************************/

.info {
    border-radius: 20px;
    box-shadow: 2px 2px 20px black;
    padding: 10px;
    margin-bottom: 40px;
	 	margin-top: 40px;
    background-color: yellow;
    color: red;
    height: 400px;
}

fieldset {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	max-width: 300px;
 	text-align: left;
	.ng-pristine, .ng-dirty, .ng-valid, .ng-valid-parse > input {
		    color: black;
			 	border-radius: 10px;
		    height: 50px;
		    text-align: left;
		    padding-left: 20px;
		    font-size: 1.2em;
		    width: 300px;
			}
}
input:focus {
	border: none;
}

.answer {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}


/* Button CSS
****************************/
.btn {
	 max-width: 100px;
    margin: 20px;
    padding: 20px;
    background-color: red;
    color: yellow;
    font-weight: bold;
    border: 5px groove red;
		&:hover {
		    background-color: orange;
		    color: red;
		    border: 5px groove red;
			}
		&:focus {
				color: yellow;
		}
		&:disabled {
			background-color: maroon;
			border: 5px groove maroon;
		}
}


.buttons {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	max-width: 300px;
}


/* Fortune CSS
*********************************/
.side-a, .side-b {
	color: #000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFF;
	line-height: 0;
	height: 100px;
}

.content {
	perspective: 700px;
}

.fortune {
	transition: transform 1s cubic-bezier(.55, -.62, .27, 1.2);
	transform-style: preserve-3d;
	&:hover {
		transform: rotate3d(0, 1, 0, 180deg);
	}
}

.side-a,
.side-b {
	backface-visibility: hidden;
}
.side-b {
	transform: rotateY(180deg);
}


/* QUERY CSS
*****************************/

@media (min-width: 769px) {
    body {
    	background-image:url(../img/background.jpg);
    	background-size: cover;
    }

    .info {
		 margin: 10px;
    }

    #answer {
		font-size: 2em;
    }
}
