<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="info">
				<h2>What's Your Fortune</h2>
				<div [hidden]="submitted">
					<form (ngSubmit)="onSubmit()" #personForm="ngForm">
						<div class="form-group">
							<input 	type="text" 
									class="form-control input" 
									placeholder="First Name" 
									id="first" [(ngModel)]="model.first" 
									name="first" 
									#name="ngModel" 
							#spy>
							<input 	type="text" 
									class="form-control input" 
									placeholder="Last Name" 
									id="last" 
									[(ngModel)]="model.last" 
									name="last" 
									#name="ngModel"
								>
							<input 	type="text" 
									class="form-control input" 
									placeholder="Age" 
									id="age" 
									[(ngModel)]="model.age" 
									name="age" 
									#name="ngModel"
							>
						</div>
						<button type="submit" class="btn">Read Me</button>
					</form>
				</div>
				<div [hidden]="!submitted" class="overlay">
					<div class="row-fortune">
						<div class="fortune">
							<div class="side-a">
								<div *ngIf="!incomplete">
									<div *ngFor="let item of items | async">
										<p class="answer">{{ item.name }}</p>
									</div>
								</div>
								<div *ngIf="incomplete">
									<p class="answer numbers">{{numbers}}</p>
								</div>
							</div>
							<div class="side-b">
								<p class="answer numbers">{{numbers}}</p>
							</div>
						</div>
					</div>
					<div class="row-button">
						<button class="btn btn-primary" (click)="reset()">Reset</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

