input {
border-radius: 10px; 
height: 50px; 
text-align: left; 
padding-left: 20px; 
font-size: 1.2em; 
width: 100%; 
margin-top: 15px;
}

input:focus {
  border: none; }
  
.form-group {
  margin: 0 auto;
  text-align: left;
  padding: 20px; 
}
/* Info CSS
****************************/
.info {
  border-radius: 20px;
  box-shadow: 2px 2px 20px black;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: yellow;
  height: 400px; 
  }

  .info h2 {
    background-color: #7b0505;
    text-shadow: 2px 2px 4px black;
    color: yellow;
    padding: 20px;
    margin: 0;
    border-radius: 20px 20px 0 0; 
	box-shadow: 2px 2px 20px black;    
}
  
/* Button CSS
****************************/
.btn {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #7b0505;
  border-radius: 10px;
  color: yellow;
  font-weight: bold;
  box-shadow: 0 5px black; }
  .btn:hover {
    background-color: #990000;
    color: white; }
  .btn:focus {
    color: yellow; }
  .btn:disabled {
    background-color: gray;
    color: black; }
  .btn:active {
    transform: translateY(5px); }
    
    
.answer {
  padding: 20px;
  text-align: center;
  vertical-align: middle; }


.reset {
  margin-top: 120px;
  margin-bottom: 20px; }


/* Fortune CSS
*********************************/
.side-a, .side-b {
  color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  height: 100px; 
  }

.content {
  perspective: 700px;
  position: absolute;
  z-index: 10000;
  background-color: yellow;
  color: red;
  top: 0;
  right: 0;
  left: 0;
  max-width: 500px;
  display: block;
  margin-top: 150px;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 20px;
  box-shadow: 2px 2px 20px black; }
  .content h2 {
    background-color: #7b0505;
    color: yellow;
    padding: 20px;
    margin: 0;
    border-radius: 20px 20px 0 0; }

.fortune {
  margin: 10px;
  transition: transform 1s cubic-bezier(0.55, -0.62, 0.27, 1.2);
  transform-style: preserve-3d; }
  .fortune:hover {
    transform: rotate3d(0, 1, 0, 180deg); }

.side-a,
.side-b {
  backface-visibility: hidden; }

.side-b {
  transform: rotateY(180deg); }

.numbers {
  color: red; }    


.row-button {
	margin-top: 150px;
}

.row-fortune {
  margin-left: 0;
  margin-right: 0;
}
